reddit-rss-intake/workflow.json
{
  "name": "Content Pipeline: Reddit RSS Intake",
  "description": "Polls 25 Reddit subreddits via old.reddit.com top/.rss?t=week every Monday at 7am PT (14:00 UTC), deduplicates by URL across executions, and normalizes items for the content pipeline.",
  "nodes": [
    {
      "name": "Weekly Monday",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        1560
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 14,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "name": "RSS AskVibecoders",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/AskVibecoders/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Merge Group 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        240
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "RSS ClaudeCode",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        120
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/ClaudeCode/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS ClaudeCowork",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/ClaudeCowork/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS VibeCodeCamp",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        360
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/VibeCodeCamp/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS claudeskills",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        480
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/claudeskills/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS mcp",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        660
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/mcp/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Merge Group 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        900
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "RSS vibecoding",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        780
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/vibecoding/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS n8n",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        900
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/n8n/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS n8n_ai_agents",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1020
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/n8n_ai_agents/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS n8n_on_server",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1140
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/n8n_on_server/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS n8nbusinessautomation",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1320
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/n8nbusinessautomation/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Merge Group 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        1560
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "RSS n8nforbeginners",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1440
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/n8nforbeginners/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS zapier",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1560
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/zapier/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS AskClaw",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1680
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/AskClaw/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS DesignTecture",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1800
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/DesignTecture/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS OpenClawCentral",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        1980
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/OpenClawCentral/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Merge Group 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        2220
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "RSS OpenClawInstall",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2100
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/OpenClawInstall/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS OpenClawUseCases",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2220
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/OpenClawUseCases/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS better_claw",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2340
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/better_claw/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS clawdbot",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2460
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/clawdbot/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS openclaw",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2640
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/openclaw/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Merge Group 5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        2880
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "RSS MachineLearning",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2760
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/MachineLearning/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS ClaudeAI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        2880
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/ClaudeAI/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS ChatGPT",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        3000
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/ChatGPT/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "RSS LocalLLaMA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        220,
        3120
      ],
      "parameters": {
        "url": "https://old.reddit.com/r/LocalLLaMA/top/.rss?t=week"
      },
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Final Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        700,
        1560
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      }
    },
    {
      "name": "Dedup by URL",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        920,
        1560
      ],
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.link }}",
        "options": {
          "historySize": 200000
        }
      }
    },
    {
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        1560
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "source",
              "value": "reddit",
              "type": "string"
            },
            {
              "id": "2",
              "name": "source_type",
              "value": "rss",
              "type": "string"
            },
            {
              "id": "3",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "published",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "summary",
              "value": "={{ ($json.contentSnippet || \"\").slice(0, 500) }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "collected_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "status",
              "value": "new",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Weekly Monday": {
      "main": [
        [
          {
            "node": "RSS AskVibecoders",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS ClaudeCode",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS ClaudeCowork",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS VibeCodeCamp",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS claudeskills",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS mcp",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS vibecoding",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS n8n_ai_agents",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS n8n_on_server",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS n8nbusinessautomation",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS n8nforbeginners",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS zapier",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS AskClaw",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS DesignTecture",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS OpenClawCentral",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS OpenClawInstall",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS OpenClawUseCases",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS better_claw",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS clawdbot",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS openclaw",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS MachineLearning",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS ClaudeAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS ChatGPT",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS LocalLLaMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS AskVibecoders": {
      "main": [
        [
          {
            "node": "Merge Group 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Group 1": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS ClaudeCode": {
      "main": [
        [
          {
            "node": "Merge Group 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS ClaudeCowork": {
      "main": [
        [
          {
            "node": "Merge Group 1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS VibeCodeCamp": {
      "main": [
        [
          {
            "node": "Merge Group 1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS claudeskills": {
      "main": [
        [
          {
            "node": "Merge Group 1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS mcp": {
      "main": [
        [
          {
            "node": "Merge Group 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Group 2": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS vibecoding": {
      "main": [
        [
          {
            "node": "Merge Group 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS n8n": {
      "main": [
        [
          {
            "node": "Merge Group 2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS n8n_ai_agents": {
      "main": [
        [
          {
            "node": "Merge Group 2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS n8n_on_server": {
      "main": [
        [
          {
            "node": "Merge Group 2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS n8nbusinessautomation": {
      "main": [
        [
          {
            "node": "Merge Group 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Group 3": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS n8nforbeginners": {
      "main": [
        [
          {
            "node": "Merge Group 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS zapier": {
      "main": [
        [
          {
            "node": "Merge Group 3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS AskClaw": {
      "main": [
        [
          {
            "node": "Merge Group 3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS DesignTecture": {
      "main": [
        [
          {
            "node": "Merge Group 3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS OpenClawCentral": {
      "main": [
        [
          {
            "node": "Merge Group 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Group 4": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS OpenClawInstall": {
      "main": [
        [
          {
            "node": "Merge Group 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS OpenClawUseCases": {
      "main": [
        [
          {
            "node": "Merge Group 4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS better_claw": {
      "main": [
        [
          {
            "node": "Merge Group 4",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS clawdbot": {
      "main": [
        [
          {
            "node": "Merge Group 4",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS openclaw": {
      "main": [
        [
          {
            "node": "Merge Group 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Group 5": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS MachineLearning": {
      "main": [
        [
          {
            "node": "Merge Group 5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS ClaudeAI": {
      "main": [
        [
          {
            "node": "Merge Group 5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS ChatGPT": {
      "main": [
        [
          {
            "node": "Merge Group 5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS LocalLLaMA": {
      "main": [
        [
          {
            "node": "Merge Group 5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Final Merge": {
      "main": [
        [
          {
            "node": "Dedup by URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by URL": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodeGroups": [],
  "activeVersionId": "aaaaaaaa-0000-4000-8000-000000000020",
  "versionCounter": 41,
  "sourceWorkflowId": null,
  "activeVersion": {
    "updatedAt": "2026-04-06T23:15:24.572Z",
    "createdAt": "2026-04-06T23:15:24.572Z",
    "versionId": "aaaaaaaa-0000-4000-8000-000000000020",
    "workflowId": "JUsHRn47EhmYR70T",
    "nodes": [
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000021",
        "name": "Weekly Monday",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          1560
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "weeksInterval": 1,
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 14,
                "triggerAtMinute": 0
              }
            ]
          }
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000022",
        "name": "RSS AskVibecoders",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          0
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/AskVibecoders/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000023",
        "name": "Merge Group 1",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          460,
          240
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000024",
        "name": "RSS ClaudeCode",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          120
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/ClaudeCode/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000025",
        "name": "RSS ClaudeCowork",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          240
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/ClaudeCowork/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000026",
        "name": "RSS VibeCodeCamp",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          360
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/VibeCodeCamp/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000027",
        "name": "RSS claudeskills",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          480
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/claudeskills/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000028",
        "name": "RSS mcp",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          660
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/mcp/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000029",
        "name": "Merge Group 2",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          460,
          900
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000030",
        "name": "RSS vibecoding",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          780
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/vibecoding/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000031",
        "name": "RSS n8n",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          900
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/n8n/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000032",
        "name": "RSS n8n_ai_agents",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1020
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/n8n_ai_agents/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000033",
        "name": "RSS n8n_on_server",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1140
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/n8n_on_server/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000034",
        "name": "RSS n8nbusinessautomation",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1320
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/n8nbusinessautomation/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000035",
        "name": "Merge Group 3",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          460,
          1560
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000036",
        "name": "RSS n8nforbeginners",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1440
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/n8nforbeginners/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000037",
        "name": "RSS zapier",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1560
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/zapier/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000038",
        "name": "RSS AskClaw",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1680
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/AskClaw/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000039",
        "name": "RSS DesignTecture",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1800
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/DesignTecture/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000040",
        "name": "RSS OpenClawCentral",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          1980
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/OpenClawCentral/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000041",
        "name": "Merge Group 4",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          460,
          2220
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000042",
        "name": "RSS OpenClawInstall",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2100
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/OpenClawInstall/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000043",
        "name": "RSS OpenClawUseCases",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2220
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/OpenClawUseCases/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000044",
        "name": "RSS better_claw",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2340
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/better_claw/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000045",
        "name": "RSS clawdbot",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2460
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/clawdbot/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000046",
        "name": "RSS openclaw",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2640
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/openclaw/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000047",
        "name": "Merge Group 5",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          460,
          2880
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000048",
        "name": "RSS MachineLearning",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2760
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/MachineLearning/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000049",
        "name": "RSS ClaudeAI",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          2880
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/ClaudeAI/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000050",
        "name": "RSS ChatGPT",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          3000
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/ChatGPT/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000051",
        "name": "RSS LocalLLaMA",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          220,
          3120
        ],
        "parameters": {
          "url": "https://old.reddit.com/r/LocalLLaMA/top/.rss?t=week"
        },
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000052",
        "name": "Final Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          700,
          1560
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 5
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000053",
        "name": "Dedup by URL",
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          920,
          1560
        ],
        "parameters": {
          "operation": "removeItemsSeenInPreviousExecutions",
          "logic": "removeItemsWithAlreadySeenKeyValues",
          "dedupeValue": "={{ $json.link }}",
          "options": {
            "historySize": 200000
          }
        }
      },
      {
        "id": "aaaaaaaa-0000-4000-8000-000000000054",
        "name": "Normalize",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1140,
          1560
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "source",
                "value": "reddit",
                "type": "string"
              },
              {
                "id": "2",
                "name": "source_type",
                "value": "rss",
                "type": "string"
              },
              {
                "id": "3",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "url",
                "value": "={{ $json.link }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "published",
                "value": "={{ $json.isoDate }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "summary",
                "value": "={{ ($json.contentSnippet || \"\").slice(0, 500) }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "collected_at",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "8",
                "name": "status",
                "value": "new",
                "type": "string"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Weekly Monday": {
        "main": [
          [
            {
              "node": "RSS AskVibecoders",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS ClaudeCode",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS ClaudeCowork",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS VibeCodeCamp",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS claudeskills",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS mcp",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS vibecoding",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS n8n",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS n8n_ai_agents",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS n8n_on_server",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS n8nbusinessautomation",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS n8nforbeginners",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS zapier",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS AskClaw",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS DesignTecture",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS OpenClawCentral",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS OpenClawInstall",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS OpenClawUseCases",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS better_claw",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS clawdbot",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS openclaw",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS MachineLearning",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS ClaudeAI",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS ChatGPT",
              "type": "main",
              "index": 0
            },
            {
              "node": "RSS LocalLLaMA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RSS AskVibecoders": {
        "main": [
          [
            {
              "node": "Merge Group 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Group 1": {
        "main": [
          [
            {
              "node": "Final Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RSS ClaudeCode": {
        "main": [
          [
            {
              "node": "Merge Group 1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS ClaudeCowork": {
        "main": [
          [
            {
              "node": "Merge Group 1",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS VibeCodeCamp": {
        "main": [
          [
            {
              "node": "Merge Group 1",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS claudeskills": {
        "main": [
          [
            {
              "node": "Merge Group 1",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "RSS mcp": {
        "main": [
          [
            {
              "node": "Merge Group 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Group 2": {
        "main": [
          [
            {
              "node": "Final Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS vibecoding": {
        "main": [
          [
            {
              "node": "Merge Group 2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS n8n": {
        "main": [
          [
            {
              "node": "Merge Group 2",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS n8n_ai_agents": {
        "main": [
          [
            {
              "node": "Merge Group 2",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS n8n_on_server": {
        "main": [
          [
            {
              "node": "Merge Group 2",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "RSS n8nbusinessautomation": {
        "main": [
          [
            {
              "node": "Merge Group 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Group 3": {
        "main": [
          [
            {
              "node": "Final Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS n8nforbeginners": {
        "main": [
          [
            {
              "node": "Merge Group 3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS zapier": {
        "main": [
          [
            {
              "node": "Merge Group 3",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS AskClaw": {
        "main": [
          [
            {
              "node": "Merge Group 3",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS DesignTecture": {
        "main": [
          [
            {
              "node": "Merge Group 3",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "RSS OpenClawCentral": {
        "main": [
          [
            {
              "node": "Merge Group 4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Group 4": {
        "main": [
          [
            {
              "node": "Final Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS OpenClawInstall": {
        "main": [
          [
            {
              "node": "Merge Group 4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS OpenClawUseCases": {
        "main": [
          [
            {
              "node": "Merge Group 4",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS better_claw": {
        "main": [
          [
            {
              "node": "Merge Group 4",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS clawdbot": {
        "main": [
          [
            {
              "node": "Merge Group 4",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "RSS openclaw": {
        "main": [
          [
            {
              "node": "Merge Group 5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Group 5": {
        "main": [
          [
            {
              "node": "Final Merge",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "RSS MachineLearning": {
        "main": [
          [
            {
              "node": "Merge Group 5",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "RSS ClaudeAI": {
        "main": [
          [
            {
              "node": "Merge Group 5",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "RSS ChatGPT": {
        "main": [
          [
            {
              "node": "Merge Group 5",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "RSS LocalLLaMA": {
        "main": [
          [
            {
              "node": "Merge Group 5",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Final Merge": {
        "main": [
          [
            {
              "node": "Dedup by URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup by URL": {
        "main": [
          [
            {
              "node": "Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Alec Foster",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T23:15:28.216Z",
        "id": 29,
        "workflowId": "JUsHRn47EhmYR70T",
        "versionId": "aaaaaaaa-0000-4000-8000-000000000020",
        "event": "activated",
        "userId": "aaaaaaaa-0000-4000-8000-000000000014"
      }
    ]
  }
}